body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.survey-popup-container {
  position: fixed;
  bottom: 20px;
  right: -320px;
  z-index: 1000;
  transition: right 0.5s ease-out;
}

.survey-popup-container.visible {
  right: 20px;
}